/* ---------------------------- slider-left(前进) ---------------------------- */
.slider-left-enter-active,
.slider-left-leave-active {
  transition: transform .3s ease-in-out;
}

.slider-left-enter-from {
  transform: translateX(100%);
}

.slider-left-enter-to {
  transform: translateX(0);
}

.slider-left-leave-from {
  transform: translateX(0);
}

.slider-left-leave-to {
  transform: translateX(-100%);
}

/* ---------------------------- slider-right(后退) ---------------------------- */
.slider-right-enter-active,
.slider-right-leave-active {
  transition: transform .3s ease-in-out;
}

.slider-right-enter-from {
  transform: translateX(-100%);
}

.slider-right-enter-to {
  transform: translateX(0);
}

.slider-right-leave-from {
  transform: translateX(0);
}

.slider-right-leave-to {
  transform: translateX(100%);
}

/* ---------------------------- fader(前进/后退) ---------------------------- */
.fader-enter-active,
.fader-leave-active {
  transition: .1s ease-in-out;
}

.fader-enter-from {
  opacity: 0;
}

.fader-enter-to {
  opacity: 1;
}

.fader-leave-from {
  opacity: 1;
}

.fader-leave-to {
  opacity: 0;
}